.home {
  padding: 10px;
}
.home .chatlist {
  padding-bottom: 10px;
  height: 90%;
  overflow-y: scroll;
}
.home ion-item.inputPanel{

    /* bottom: 20px; */
    width: 100%;
}
.home .inputPanel ion-button.inputButton{
    height: 100%;
    width:50px
}
.home ion-item.loader{

    /* bottom: 50px; */
    width: 100%;
}
.home .loader ion-button.stopButton{
    --border-radius: 10px;
    height: 50px;
    width:50px
}
.home .loader ion-spinner.dots{

    height: 50px;
    width:50px
}